<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tô Com Fome</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand"
          ><span class="icon-brand"><i class="fas fa-utensils"></i></span> Tô
          Com Fome</a
        >
        <button
          class="navbar-toggler custom-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse align-right"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav flex-row ml-auto justify-content-around">
            <li class="nav-item">
              <a [routerLink]="['/index']" class="nav-link nav-active"
                >Início <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <button
                [routerLink]="['/acc']"
                class="btn btn-primary login my-2 my-sm-0"
              >
                <a><i class="far fa-user"></i>Minha Conta</a>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron jumbotron-fluid header-jumbotron">
      <div class="container text-center">
        <div class="row justify-content-center">
          <div
            class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-lg-auto mb-md-auto mb-3 d-flex justify-content-center align-items-center text-sm-center"
          >
            <h1 class="display-4 display-jumbotron">Tá com fome?</h1>
          </div>
          <div
            class="col-xs-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center"
          >
            <p class="lead">
              Então o <strong>Tô Com Fome</strong> foi feito pra você! É fácil e
              simples de usar: basta escolher quais ingredientes você tem que a
              gente te indica quais receitas podem ser feitas com eles!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid image-jumbotron mb-5"></div>
    <section class="container mb-4">
      <div class="row d-flex align-items-center">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-lg-0 mb-md-0 mb-4">
          <h1
            class="display-4 display-recipe text-lg-left text-md-left text-center"
          >
            Receitas<i class="fas fa-pizza-slice"></i>
          </h1>
        </div>
        <div
          class="col-xs-12 col-sm-12 col-md-9 col-lg-9 mx-lg-auto mx-md-auto mx-3"
        >
          <div class="form-inline has-search row">
            <span class="fas fa-search form-control-feedback"></span>
            <input
              type="text"
              class="form-control col-lg-12"
              type="search"
              placeholder="Procure receitas..."
              aria-label="Busca"
              [(ngModel)]="filter"
              (ngModelChange)="buscarPorNome()"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="container mb-4">
      <div class="row">
        <div
          class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-lg-auto mb-md-auto mb-3"
        >
          <div class="mb-3 mt-2 d-flex align-items-center ">
            <h5 class="h5-ingredient">Ingredientes</h5>
            <button
              class="btn btn-primary hidden visible-sm py-0 d-lg-none"
              type="button"
              data-toggle="collapse"
              data-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <i class="fas fa-chevron-down"></i>
            </button>
          </div>
          <ul
            class="list-group collapse dont-collapse-sm"
            *ngFor="let ingredient of igredients; let i = index"
          >
            <li class="list-group-item d-flex align-items-center">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [id]="ingredient.key"
                  (click)="selecionarIgredient(i)"
                />
                <label class="custom-control-label" [for]="ingredient.key">{{
                  ingredient.name
                }}</label>
              </div>
            </li>
          </ul>
        </div>
        <div
          class="col-xs-12 col-sm-12 col-md-9 col-lg-9 mb-lg-auto mb-md-auto mb-3"
        >
          <div *ngIf="flagRecipes" class="row">
            <div
              class="col-6 col-md-4 col-lg-4"
              *ngFor="let recipe of recipeFilter; let i = index"
            >
              <div class="card mb-4">
                <img [src]="recipe.url" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title">{{ recipe.name }}</h5>
                  <p class="card-text">
                    <i class="far fa-user-circle"></i>{{ recipe.usernameCriator
                    }}<br />
                    <i class="far fa-clock"></i> {{ recipe.cookTime }}
                  </p>
                  <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-primary"
                      >Receita <i class="fas fa-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <p class="text-center m-0 p-4">
              © 2019 Tô Com Fome - Todos os direitos reservados.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
